aside {
    grid-area: aside;
    padding: 30px;
    border-right: 2px solid rgba(0, 0, 0, 0.15);
    max-width: 500px;

    .profile-picture {
        display: block;
        justify-self: center;
        max-width: 250px;
        border-radius: 12px;
        box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.18), 0 1.5px 4px 0 rgba(0, 150, 255, 0.10);
    }
}